.chart {
    display: grid;
    grid-template-columns: 100%;
    box-sizing: border-box;
  
    .title {
      color: grey;
      font-size: 18px;
    }
  
    .strokee {
      stroke: #b4aaaa;
    }
   
  }