/* src/styles.css */
.form-wrapper{
  display: flex;
  gap:10px;
}
.left-bar{
  width:40%;
  margin: 20px 5px 10px 50px;
  padding: 10px;
  border:3px solid #e9e9f2
}
.left-bar .coder-image{
  width: 300px;       /* Equivalent to w-full */
  height: 300px;    /* Equivalent to h-10 */
  border-radius: 0.5rem; /* Equivalent to rounded-lg */
  margin: 1rem auto;
}

.Apply-form{
  text-align: center;
  width:60%;
  margin-top: 20px;
  border:3px solid #e9e9f2


}
form {
  max-width: fit-content;
    display: flex;
    flex-direction: column;
    background-color:#e9e0e0b9 ;
    padding: 5px;
  }
  .full-name,.school-info,.contact-address{
    margin-bottom: 10px;
  }
  .school-info .school-info-child,.contact-address div{
    display: grid;
    gap:10px;
    grid-template:40px 40px/auto auto auto auto;
  }
  .contact-address input:last-child{
    grid-column-start: 2;
    grid-column-end: 4;


  }
  span{
    margin: auto;
  }
  
  div {
    margin-bottom: 1rem;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  .adress-input{
    width: 75%;
  }
  input {
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .form-button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
h1{
    text-align: center;
}  

