.card {
	transition: transform 0.13s ease-in-out;
}

.card:hover {
	transform: scale(1.05);
}

.iconContainer {
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card:hover .iconContainer {
	transform: scale(1.05);
}
.icon {
	font-size: 5rem;
	filter: invert(0.5) blur(1px);
}
.card:hover .iconContainer svg {
	filter: invert(0) blur(0);
}
