.table_list {

    .product_idd {
      display: flex;
      align-items: center;
      .product_img {
        height: 36px;
        width: 36px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    .table_head{
      background-color: rgba(255, 116, 177,0.5);
    }
    .table_row:nth-child(odd){
  background-color:rgba(128, 128, 128,0.3);
    }
  
    .status {
      &.Approved {
        color: green;
      }
      &.Pending {
        color: #ff74b1;
      }
    }
  }
  @media screen and (max-width: 992px) {
   
  }