.review-submissions {
  padding: 20px;

  h2 {
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .MuiTableContainer-root {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  
  }

  .MuiTableHead-root {
    background-color: #d7e9d7;

    .MuiTableCell-root {
      font-weight: bold;
      color: #444;
      padding: 10px;
    }
  }

  .MuiTableRow-root {
    &:nth-of-type(even) {
      background-color: #f3ecec;
    }
  }

  .MuiTableCell-root {
    padding: 12px;
    vertical-align: middle;

    &:first-child {
      font-weight: 500;
      color: #333;
    }

    &.actions-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        margin-left: 5px;
      }
    }
  }

  .MuiSelect-root {
    font-size: 0.9em;
    min-width: 140px;
  }

  .MuiTextField-root {
    width: 100%;
    textarea {
      resize: none;
    }
  }

  button {
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }

  .MuiButton-outlined {
    border-color: #1976d2;
    color: #1976d2;

    &:hover {
      background-color: rgba(25, 118, 210, 0.1);
    }
  }

  .MuiButton-containedPrimary {
    background-color: #1976d2;
    color: white;

    &:hover {
      background-color: #1565c0;
    }
  }

  /* Mobile responsive styles */
  @media (max-width: 768px) {
    .MuiTableCell-root {
      font-size: 0.9em;
      padding: 8px;
    }

    .MuiTextField-root,
    .MuiSelect-root {
      min-width: 100px;
    }

    button {
      font-size: 0.7em;
      padding: 5px 10px;
    }
  }
}
